<!DOCTYPE html>

<html>

{% include head.html %}

<body>
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KQLL5KN"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->

  {% include navbar.html %}

  {{ content }}

  {% include footer.html %}

  {% include scripts.html %}

  var postID = document.querySelector(#'post-content');

  var viewPosts = function (){
    dataLayer.push({
      'event': 'viewPosts'
    });
  }

  postID.addEventListener('click', viewPosts);


</body>

</html>
